.top_flex {
    display: flex;
    justify-content: space-between;

    .test {
        height: 100px;
        width: 100px;
        background-color: tomato;
        animation: move43 10s infinite;
    }
}
@keyframes move43 {
    0% {background-color: tomato; width: 100px;}
    100% {background-color: green; width: 50%;}
}
.position {
    width: 100%;
    height: 600px;
    position: relative;

    .test1 {
        height: 100px;
        width: 100px;
        background-color: tomato;
        position: absolute;
        left: 0px;
        bottom: 0px;
        animation: movexxx1 10s infinite;

        @keyframes movexxx1 {
            0%{background-color: tomato; height: 100px;}
            100% {background-color: yellow; height: 600px; left: calc(50% - 100px);}
        }
    }
         
    .test2 {
        height: 100px;
        width: 100px;
        background-color: tomato;
        position: absolute;
        right: 0px;
        bottom: 0px;
        animation: movexxx2 10s infinite;

        @keyframes movexxx2 {
            0%{background-color: tomato; height: 100px;}
            100% {background-color: yellow; height: 600px; right: calc(50% - 100px);}
        }
    }
}